Repository ScreamingHawk/secret-camera: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write {staged_files}

lint:
  run: npm run lint

Add license
  LICENSE
Due: none

Update README
  README.md
  package.json
Due: format

Add build info
  app.json
  eas.json
Due: format

Update build and release commands
  .gitignore
  README.md
  eas.json
  package.json
Due: format

Update assets
  assets/images/adaptive-icon.png
  assets/images/banner.png
  assets/images/favicon.png
  assets/images/icon-512.png
  assets/images/icon.png
  assets/images/partial-react-logo.png
  assets/images/react-logo.png
  assets/images/react-logo@2x.png
  assets/images/react-logo@3x.png
  assets/images/splash-icon.png
Due: none

Add privacy policy
  PRIVACY.md
Due: format

Fix lefthook format
  lefthook.yml
Due: format

Fix sharing
  app.json
  app/components/ImageView.tsx
  package-lock.json
  package.json
Due: format, lint

Update dependencies
  package-lock.json
  package.json
Due: format

Add auth to access app
  README.md
  app/components/CameraView.tsx
  app/components/GalleryView.tsx
  app/index.tsx
  app/utils/security.ts
  package-lock.json
  package.json
Due: format, lint

Add image deletion
  app/components/GalleryView.tsx
  app/components/ImageView.tsx
Due: format, lint

Update app name
  app.json
Due: format

Add about page
  app/components/AboutView.tsx
  app/index.tsx
Due: format, lint

Add sort imports to prettier
  .prettierrc
  app/components/AboutView.tsx
  app/index.tsx
  app/utils/security.ts
  package-lock.json
  package.json
Due: format, lint

Nicer landing page
  app/index.tsx
Due: format, lint

Add pages ci
  .github/workflows/pages.yml
Due: format

Update ci
  .github/workflows/pages.yml
Due: format

Bump version
  app.json
Due: format

Add back button support
  app/components/AboutView.tsx
  app/components/CameraView.tsx
  app/components/GalleryView.tsx
  app/index.tsx
Due: format, lint

Add gallery navigation on image
  app/components/GalleryView.tsx
  app/components/ImageView.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md,yaml,yml}
  lint: any of: *.{js,jsx,ts,tsx}
